<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>What Are The Odds</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="js/app.js"></script>

</head>
<body>
 <div class="jumbotron">
    <div class="container">
      <a href="/logout"><button class="btn btn-primary btn-md" id="logout-button" >Logout</button></a>
      <h1>What Are The Odds?</h1>
      <p>
        <a href="/rules"><button class="btn btn-primary btn-lg" id="rules" >Learn How To Play</button></a>
      </p>
    </div>
  </div>

  <nav>
    <ul class="nav nav pills nav-justified" id="navbar">
      <li><a href="/">Play</a></li>
      <li><a href="public-feed">Friends Games</a></li>
      <li><a href="/private-feed">Your Games</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign-Up</a></li>
    </ul>
  </nav>
</div>

 <div class = "row">
  <div class="col-sm-12" id="rules-of-the-game">
      <h2> Rules</h2>
      <p>At any point, you can think of a dare for someone else to do. Go up to them and ask them “what are the odds that you’ll whatever dare?”</p>

      <p>Ex. What are the odds that you will start singing Sweet Caroline on your bus ride home? </p>

      <p>The person dared than has to respond with with odds between 1 and 50.
      Ex. 1/50, or 1/25, or 1/10. The odds will be the probability that the person dared has to complete the dare. </p>

      <p>Now things get interesting. On the count of three both parties shout out a number between 1 and x (the odds chosen). </p>

      <p>If the numbers are both the same, then the person dared has to complete the dare. </p>

      <p>If the numbers are different than nothing happens....unless both number add up to the odds chosen. Then the person that asked the dare has to complete the challenge. </p>

      <p>Ex. If the odds are 1/10. The darer chooses 4, and the daree chooses 6. The numbers add up to 10, so the darer has to complete the challenge. </p>

      <p>There is one more rule. If the odds chosen are 1/2 than it is guaranteed that one person will have to complete the dare. If the numbers chosen are the same the daree has to do it. If the numbers chosen are different than the darer has to complete the dare. </p>

      <p>May the Odds Ever Be in Your Favor! </p>
  </div>
</div>

</body>
</html>